.application__content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.application_item_form {
  position: relative;
}
.bg_form {
  position: absolute;
  top: -29px;
  left: -42px;
  width: 93%;
  z-index: -1;
}
.application_item_content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.application__title {
  font-family: Gotham_Pro_bold;
}
.application__title span {
  background-image: linear-gradient(to right, #4271df, #789cf1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.application__text {
  width: 70%;
}
.application__img {
  width: 80%;
}

@media (max-width: 1050px) {
  .application_item_content {
    align-items: flex-start;
  }
}

@media (max-width: 660px) {
  .application__content {
    flex-direction: column-reverse;
  }
  .application_item_content {
    max-width: 100%;
    align-items: center;
  }
  .application__title {
    text-align: center;
  }
  .application__text {
    text-align: center;
  }
  .application__img {
    width: 51%;
  }
  .application__content {
    display: flex;
    gap: 40px;
  }
}

@media (max-width: 350px) {
  .application__title {
    font-size: 25px;
  }
  .application__text {
    width: 95%;
    font-size: 13px;
  }
}
