.custom_btn_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.custom_text {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #737373;
}
.custom_info_img {
  cursor: pointer;
}
.custom_info_img:hover {
  transform: scale(1.1);
}
