.custom_btn_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.custom_text {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #737373;
}
.custom_info_img {
  cursor: pointer;
}
.custom_info_img:hover {
  transform: scale(1.1);
}
@media (max-width: 910px) {
  .custom_btn_info {
    gap: 5px;
  }
  .custom_btn_info button {
    width: 240px;
    height: 50px;
  }
}

@media (max-width: 330px) {
  .custom_btn_info {
    gap: 6px;
  }
  .custom_btn_info button {
    width: 191px;
    height: 47px;
  }
  .custom_info_img {
    width: 10%;
  }
  .custom_text {
    gap: 10px;
  }
}
