.benefits {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  margin-top: 35px;
}
.benefits__title {
  text-align: center;
}
.benefits_points {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.benefits_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 33%;
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.benefits_item img {
  width: 160px;
  height: 160px;
}
.benefits_item h4 {
  text-align: center;
}
.benefits_item p {
  text-align: center;
  font-size: 15px;
  width: 82%;
}

@media (max-width: 860px) {
  .benefits_item img {
    width: 135px;
    height: 135px;
  }
  .benefits_points {
    align-items: flex-start;
  }
  .benefits_item {
    width: 50%;
  }
  .benefits_item p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .benefits__title {
    font-size: 24px;
  }
      .benefits_item {
        width: 70%;
      }
}

@media (max-width: 330px) {
.benefits_item p {
    width: 100%;
}
}