.advantage {
  background-color: #eff2fd;
}
.advantage_container {
    padding: 60px 0 60px 0;
    margin-bottom: 20px;
}
.advantage_container h3 {
margin-bottom: 20px;
}
.advantage_content {
    display: flex;
    padding-top: 20px;
}
.advantage_content_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.advantage_content_left_item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.active {
    background-color: #fff;
}
.active h4 {
    color:aqua;
}
.advantage_content_left_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;

}
.advantage_content_left_text h4 {
    font-size: 20px;
}
.advantage_content_left_text p {
    font-size: 15px;
    line-height: 130%;
}
