.conditions__content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
  padding: 15px 0 40px 0;
  margin-bottom: 20px;
  margin-top: 60px;
}
.conditions__content_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.conditions__content_title {
  font-family: "Gotham_Pro_medium";
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.conditions__content_points {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  padding: 10px;
}
.condition_item {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.condition_item img {
  width: 70px;
  height: 70px;
}
.condition_item span {
  font-family: "Gotham_Pro_medium";
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  width: 75%;
}

.conditions__content_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.conditions__content_aspect_item {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.conditions__content_aspect_item img {
  display: block;
}
.conditions__content_aspect_item_1 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.conditions__content_aspect_item_1 h4 {
  font-family: "Gotham_Pro_medium";
  font-size: 20px;
  line-height: 103%;
}
.conditions__content_aspect_item_1 span {
  font-size: 15px;
  line-height: 120%;
}
.conditions__content_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

@media (max-width: 950px) {
  .conditions__content_aspect_item_1 img {
    width: 40%;
  }
}
