.comparison {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding-top: 40px;
}
.comparison h3 {
  text-align: center;
}
.comparison__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.comparison__content_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  padding: 15px;
}
.comparison__content_school {
  background: linear-gradient(to right, #eff2fd, #fcfcfc);
}
.comparison__content_online {
  background: linear-gradient(to right, #4271df, #789cf1);
  color: #fff;
}
.comparison__content_text h3 {
  font-size: 20px;
  line-height: 103%;
}
.comparison__content_list {
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 15px;
}
.comprassion__img_item {
  display: block;
}

@media (max-width: 1300px) {
  .comprassion__img_item {
    width: 20%;
  }
}
@media (max-width: 1011px) {
  .comparison {
    position: relative;
  }
  .comprassion__img_item {
    position: absolute;
  }
  .comprassion__img_left {
    top: 28px;
    left: 11px;
  }
  .comprassion__img_right {
    bottom: -12px;
    right: 0;
  }
}
@media (max-width: 860px) {
  .comparison {
    margin-top: 0;
  }
  .comprassion__img_item {
    display: none;
  }
}
