.price {
  background-color: #eff2fd;
  padding-bottom: 30px;
}

.price__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 40px 0 40px 0;
}
.price__items {
  margin-top: 60px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.price_item {
  position: relative;
}
.price__item_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffff;
  border-radius: 25px 50px 0 25px;
  padding: 20px 5px 40px 10px;
}
.price_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #49b3f7, #864ff1);
  text-align: center;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
  color: #ffff;
  position: absolute;
  top: -18px;
  right: -17px;
}
.price_wrap h5 {
  font-size: 30px;
  font-weight: bold;
}

.price_wrap span {
  font-size: 14px;
}
.price__item_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0;
}
.price__item_title h4 {
  font-size: 20px;
}
.price__item_title span {
  font-size: 17px;
  line-height: 103%;
  background: linear-gradient(90deg, #4271df, #3b5ba6);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  width: 70%;
}

.price_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.price_list li {
  font-family: Gotham_Pro_medium;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  width: 70%;
}

.price__img {
  position: absolute;
  bottom: 0;
  right: -24px;
}
@media (max-width: 1100px) {
  .price_wrap {
    padding: 15px 10px 15px 10px;
    right: -33px;
  }
  .price__img {
    right: -48px;
  }
  .price__item_title span {
    width: 97%;
  }
}
