.head_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 30px;
}
.logo {
  cursor: pointer;
}
.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_info {
  display: flex;
  align-items: center;
  gap: 29px;
}
.header_info span {
  font-family: "Gotham_Pro_medium";
  font-size: 20px;
  font-weight: bold;
  color: #243976;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__list li,
.header_acc span {
  font-family: "Gotham_Pro_medium";
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #243976;
}
.header__list li:hover {
  opacity: 0.8;
}
.header_acc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


@media (max-width: 860px) {
.logo {
  width: 25%;
}

}

@media (max-width: 800px) {
.header__list {
  gap: 10px;
}
}
@media (max-width: 710px) {
.header_info,
.header__bottom {
  display: none;
}
.head_container {
    gap: 10px;
}


}


