.layout__content {
  height: 1000px;
}

.layout__background {
  position: absolute;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}