.footer {
  margin: 15px;
  background-color: #eff2fd;
}
.footer__info {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer__info_logo {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.footer__info_logo p {
  font-size: 8px;
  color: #9299af;
}

.footer__info_class,
.footer__info_doc,
.footer__info_soc,
.footer__info_adress {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #243976;
}

.footer__info_title {
  font-size: 20px;
}
.footer__info_list li {
  font-size: 14px;
  cursor: pointer;
}
.footer__info_list li:hover {
  opacity: 0.8;
}
.footer__info_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__info_license {
  display: flex;
  gap: 8px;
}
.footer_soc_list li,
.footer__info_license span {
  cursor: pointer;
}

.footer_soc_list {
  display: flex;
  gap: 8px;
}
.footer_soc_list li:hover {
  transform: scale(1.2);
}
.footer__info_adress {
  font-size: 16px;
  line-height: 24px;
}
.footer__info_place,
.footer__info_phone {
  display: flex;
  align-items: center;
}
.footer__info_place span {
  width: 60%;
}

@media (max-width: 1000px) {
  .footer__info {
    justify-content: space-between;
    padding: 35px;
  }
}
@media (max-width: 900px) {
  .footer__info_title {
    font-size: 16px;
  }
  .footer__info_place img,
  .footer__info_phone img {
    width: 10%;
  }
  .footer__info_place,
  .footer__info_phone {
    font-size: 13px;
    line-height: 17px;
  }
  .footer__info_class,
  .footer__info_doc,
  .footer__info_soc,
  .footer__info_adress {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__info_logo {
    width: 20%;
  }
  .footer_soc_list {
    gap: 1px;
  }
  .footer_soc_list img {
    width: 75%;
  }
  .footer__info_list li,
  .footer__info_license span {
    font-size: 12px;
  }
  .footer__info_license img {
    width: 16%;
  }
}
@media (max-width: 800px) {
  .footer__info {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
  }
  .footer__info_adress {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  .footer__info_logo p {
    font-size: 5px;
  }
}
@media (max-width: 420px) {
  .footer__info {
    gap: 20px;
  }
  .footer__info_place,
  .footer__info_phone {
    flex: 1 1;
  }
}

@media (max-width: 330px) {
  .footer__info {
    gap: 19px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__info_adress {
    flex-direction: column;

  }
  .footer__info_place img,
  .footer__info_phone img {
    width: 12%;
  }
  .footer__info_place span {
    width: 100%;
}
}
