.sertificate_container {
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sertificate_text {
  width: 42%;
}
.sertificate_text h3 {
  font-size: 40px;
  margin-bottom: 10px;
}
.sertificate_text p {
  font-size: 20px;
}

@media (max-width: 970px) {
  .sertificate_img {
    width: 100%;
  }
  .sertificate_text h3 {
    font-size: 30px;
  }
}
@media (max-width: 860px) {
  .sertificate_container {
    flex-direction: column;
    align-items: center;
  }
  .sertificate_text {
    width: 100%;
  }
  .sertificate_text h3 {
    font-size: 32px;
    font-family: "Gotham_Pro_medium";
    text-align: center;
  }
  .sertificate_text p {
    font-size: 17px;
    text-align: center;
  }
  .sertificate_img {
    display: flex;
    justify-content: center;
  }
  .sertificate_img img {
    width: 58%;
  }
}

@media (max-width: 480px) {
  .sertificate_text h3 {
    font-size: 26px;
  }
  .sertificate_text p {
    font-size: 15px;
  }
}

@media (max-width: 330px) {
  .sertificate_text h3 {
    font-size: 20px;
  }
  .sertificate_text p {
    font-size: 13px;
  }
  .sertificate_img img {
    width: 66%;
  }
}
