* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Gotham_Pro_medium";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
}
@font-face {
  font-family: "Gotham_Pro_bold";
  src: url("./shared/Fonts/gothampro_bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham_Pro_medium";
  src: url("./shared/Fonts/gothampro_medium.ttf") format("truetype");
}
