.btn {
  font-family: 'Gotham_Pro_medium';
  letter-spacing: 1px;
  border: none;
  border-radius: 90px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to right, #49b3f7, #864ff1);
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}
